<h1>Inicia Sesion</h1>
<div>
  <form class="signin-form" (ngSubmit)='onSubmit(f)' #f>
    <input class="margin" type="email" name="email" id="email" placeholder="Correo Electronico" [ngModel]='email'>
    <input class="margin" type="password" name="password" id="password" placeholder="Contraseña" [ngModel]='password'>
    <button class="margin" type="submit" class="primary-button">Iniciar Sesion</button>
  </form>
  <p>¿No tienes cuenta? <button (click)='goRegister()'>Registrate</button></p>
</div>