<div class="col-sm-6 userForm">
  <form [formGroup]="signinForm" (ngSubmit)='onSubmit(form)' #form='ngForm'>
    <mat-form-field style="width: 20%;">
      <input type="text" matInput placeholder="Primer Nombre *" formControlName="firstName" id="firstName">
    </mat-form-field>
    <mat-form-field style="width: 20%; margin-left: 5%;">
      <input type="text" matInput placeholder="Segundo Nombre" formControlName="secondName" id="secondName">
    </mat-form-field>
    <mat-form-field style="width: 20%; margin-left: 5%;">
      <input type="text" matInput placeholder="Primer Apellido *" formControlName="firstLastName" id="firstLastName">
    </mat-form-field>
    <mat-form-field style="width: 20%; margin-left: 5%;">
      <input type="text" matInput placeholder="Segundo Apellido* " formControlName="secondLastName" id="secondLastName">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Nickname *" formControlName="nickname" id="nickname">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Correo Electronico *" formControlName="email" id="email">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input type="password" matInput placeholder="Contraseña *" formControlName="password" id="password">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input type="password" matInput placeholder="Confirmar Contraseña *" formControlName="password2" id="password2">
    </mat-form-field>
    <br>
    <button type="submit" mat-raised-button color="accent">Registrarse</button>
  </form>
  <p style="text-align: center">
    ¿Ya tienes un Usuario?
    <a mat-button color='primary' [routerLink]="['/signin']">Inicia Sesión</a>
  </p>
</div>
