.main-container {
    /* position: absolute; */
    /* height: calc(100% - 64px); */
    height: 100%;
    bottom: 0;
    width: 100%;
    /* background-color: #141518; */
    padding-bottom: 2%;
}

.fullHeight {
    height: 100% !important;
}

.fullWidth {
    width: 100% !important;
}

.feed {
    width: 70%;
    /* margin-left: 25%; */
    border-radius: 1%;
    box-shadow: 5px 5px 5px 5px gray;
    height: 100%;
    overflow-y: auto;
}

.new {
    width: 70%;
    margin-left: 2.5%;
    margin-top: 1%;
    margin-bottom: 2%;
    border-radius: 1%;
    box-shadow: 5px 5px 5px 5px gray;
    height: auto;
    padding: 0.001%;
}

.empty-post {
    padding: 1%;
}

.search {
    width: 20%;
    margin-left: 2.5%;
}